body > header {
  border-bottom: dotted 1px #666666; }
  body > header h1 > a {
    color: black; }
  body > header nav > ul > li {
    float: left;
    margin: 0 10px; }

#content {
  width: 600px;
  margin-left: 50px;
  margin-top: 25px; }

.article {
  letter-spacing: 0.25em;
  line-height: 1.75em;
  font-weight: normal; }
  .article a {
    color: black; }
  .article header h1 {
    border-left: 10px solid #e8007f;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 13px;
    margin: 0; }
  .article .body, .article footer > p {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    font-size: 11px; }
    .article .body *, .article footer > p * {
      font-size: 11px; }
  .article footer > p {
    color: #222222;
    text-align: right; }
