@charset "UTF-8"

$yellow: #ee7

.clearfix:after
  content: ""
  display: block
  clear: both

*
  font-family: "HG丸ゴシックM-PRO", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif
  line-height: 1.75em
  letter-pacing: 0.15em
  font-size: 13px

a
  color: #666
  text-decoration: none 
  &:hover
    color: $yellow

ul
  margin: 0
