-#encoding: utf-8

-return if pages.pages.blank?
-return unless pages.is_public

%ul
  -pages.pages.each do |page|
    -next unless page.is_public
    %li
      =link_to page.title, page.href
      =partial :'pages/tree', :locals=>{:pages=>page}
