-#encoding: utf-8

%article#novel
  %header
    %h1=breadcrumbs(@content)
    #description
      =textile @content.description
      #info.clearfix
        %p#created_at.clearfix=formated_time @content.created_at
        %p#view_count.clearfix
          閲覧数
          =@content.view_count
  %section#body
    =textile @content.body
  %footer
    =partial :'pages/tree', :locals=>{:pages=>@content}
