.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:static_pages, :index)
      %li=link_to pat(:new), url(:static_pages, :new)
      %li.active=link_to pat(:edit), url(:static_pages, :edit, :id => @static_page.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:static_page)
    .inner
      -form_for :static_page, url(:static_pages, :update, :id => @static_page.id), :method => :put, :class => :form do |f|
        =partial "static_pages/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
