-#encoding: utf-8
!!! html 5
%html
  %head
    %meta{:charset=>'utf-8'}
    %title=@title.nil? ? site_name : [@title, site_name].join('|')
    =stylesheet_link_tag '/stylesheets/normalize', '/stylesheets/common', '/stylesheets/static_page'
    =javascript_include_tag '/javascripts/jquery', '/javascripts/jquery-ujs'
  %body
    %header
      %h1=link_to site_name, '/'
      %nav.clearfix
        %ul
          %li=link_to 'top', '/'
          %li=link_to 'about', '/about'
          %li=link_to 'article', '/articles'
          %li=link_to 'novel', '/novels'
          %li=link_to 'admin', '/admin'
    #content
      =yield
