-#encoding: utf-8
!!! html 5
%meta{:charset=>'utf-8'}
%title novel | donuthole.org
=stylesheet_link_tag '/stylesheets/normalize', '/stylesheets/common', '/stylesheets/novel'
=javascript_include_tag '/javascripts/jquery', '/javascripts/jquery-ujs'

#content
  =yield
